.App {
    height: calc(100% - 60px);
}

.App-header {
    height: calc(100% - 60px);
    padding: 10px;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
.h1-div {
    margin-bottom: 100px;
  }
.title {
    font-size: calc(20px + 2vmin);  
  }
.form-div {
    margin-top: 20px;
    padding: 80px;
  }

  .logo {
    margin-bottom: 50px;
    height: 12vmin;
    pointer-events: none;
  }

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  
.footlogo {
    height: 3vmin;
    margin-top: 5px;
    padding: 10px;
  }
  
@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  